<!DOCTYPE html>
<html>
    <head>
        <title>PJ - {% block nosaukums%} Mana lapa {% endblock %}</title>
    </head>
    <body>
        <a href="/">Sākums</a>
        <a href="/text">Text</a>
        <a href="/saraksts">Saraksts</a>
        <h1>Patrika mājas lapa</h1>
        {% block saturs %}
        <p>L mājas lapa</p>
        {% endblock %}

{% block bilde %}

<img src="https://www.canberratimes.com.au/images/transform/v1/crop/frm/Z4Q6sUEHdcmw72MBPYgZkU/4136c2fb-893c-49ef-826b-8807ac470cef.jpg/r0_24_1000_664_w1200_h678_fmax.jpg" alt="">

{% endblock %}

    </body>
</html>